<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-3ekXICGHpvXIaGDl2FV4Ed9iH2JAjgk</string>
	<key>GCM_SENDER_ID</key>
	<string>538714986269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.iosacademy.MyFacetime</string>
	<key>PROJECT_ID</key>
	<string>myfacetime-48aca</string>
	<key>STORAGE_BUCKET</key>
	<string>myfacetime-48aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538714986269:ios:7ee163092f723b021a73f4</string>
</dict>
</plist>